.card {
    max-width: 16rem;
    background: white;
    margin: 0 0.5rem 1rem;
}

.cardTitle {
    color: #2F5396;
    font-weight: 700;
}

.subtitle {
    font-weight: bold;
    margin-bottom: 0;
}

.info {
    margin-bottom: 0;
}