.filterContainer {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 6px;
    border: 1px solid #dedede;
    border-radius: 8px;
    background-color: #C5DF9F;
    margin: 4px 2px;
    font-size: 13px;
    cursor: pointer;
}

.btn:focus {
    background-color: #7CBA03;
    outline: none;
}

.filterHead {
    margin-bottom: 0;
    text-align: center;
    border-bottom: 1px solid;
}